# Node/Bun artifacts
node_modules/
bun.lockb

# SvelteKit build output
.svelte-kit/
build/
.vite/

# Playwright
playwright-report/
test-results/

# Environment files
.env
.env.*

# IDE
.idea/
.vscode/

