<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Sentient Forms">
            <directory suffix="-test.php">./tests</directory>
            <directory prefix="test-">./tests/phpunit</directory>
            <exclude>./tests/wordpress-tests-lib</exclude>
            <exclude>./tests/phpunit/tests</exclude>
            <exclude>./tests/ajax-nonce-test.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
