<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Sentient Forms">
            <directory suffix="-test.php">./tests</directory>
            <!-- Custom plugin tests live under tests/phpunit with filenames like test-async-handler.php -->
            <directory prefix="test-" suffix=".php">./tests/phpunit</directory>
            <exclude>./tests/wordpress-tests-lib</exclude>
            <exclude>./tests/wp-temp</exclude>
            <exclude>./tests/phpunit/tests</exclude>
        </testsuite>
    </testsuites>
</phpunit>
